@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="container features">
        <div class="row animated fadeInRight">
            <h1 class="display-4">Bem-vindo(a) ao <b>FileManager</b></h1>
            <h3>Projeto desenvolvido para conclusão do Curso de Sistema de Informação.</h3>
            <br />
        </div>
        <div class="row">
            <div class="col-md-3 text-center animated fadeInDown">
            </div>
            <div class="col-md-6 text-center animated fadeInDown">
                <img src="~/image/laptop.png" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center animated fadeInDown">
            </div>
        </div>
        <div class="row animated fadeInLeft">
            <br />
            <p>Para acessar o repositório do projeto <a href="https://github.com/italocamil0/FileManager" target="_blank">clique aqui</a>.</p>
        </div>
    </section>
</div>