<div class="footer">
    <div class="pull-right">
       Herick Almeida - Kleber JS - Ítalo Camilo
    </div>
    <div>
        <small>Acesse <strong><a href="https://www.linkedin.com/in/%C3%ADtalo-camilo-ba1ba252/" target="_blank">LinkedIn</a></strong> <i class="fa fa-linkedin-square"></i></small>
    </div>
</div>