@model FileManager.App.WebApp.Models.ArquivoViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("FileManager", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Arquivos", "Index", "Arquivos")
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="panel panel-primary">
            <partial name="~/Views/Arquivos/_CreateEditPartial.cshtml" , model="Model" />
            <div class="panel-footer panel-info">
                <div class="row">
                    <div class="col-md-offset-1 col-md-11">
                        <a asp-action="Index" class="btn btn-white">Voltar para lista</a>
                        <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>