@model ArquivoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Arquivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tabela" class="control-label"></label>
                <input asp-for="Tabela" class="form-control" />
                <span asp-validation-for="Tabela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Esquema" class="control-label"></label>
                <input asp-for="Esquema" class="form-control" />
                <span asp-validation-for="Esquema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prefixo" class="control-label"></label>
                <input asp-for="Prefixo" class="form-control" />
                <span asp-validation-for="Prefixo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Nome do Campo</label>
                <input id="IdNomeCampo" class="form-control" />
                <label class="control-label">Tamanho do Campo</label>
                <input id="IdTamanhoCampo" class="form-control" />
                <label class="control-label">Tipo do Campo</label>
                <input id="IdTipoCampo" class="form-control" />


            </div>
            <div class="form-group text-right" >
                <input type="submit" value="Novo campo" class="btn pull-right btn-success" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Posicional" /> @Html.DisplayNameFor(model => model.Posicional)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Divisor" class="control-label"></label>
                <input asp-for="Divisor" class="form-control" />
                <span asp-validation-for="Divisor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrequenciaExecucao" class="control-label"></label>
                <select asp-for="FrequenciaExecucaoId" class="form-control" asp-items="@(new SelectList(Model.FrequenciasExecucao, "Id", "Frequencia"))">
                    <option></option>
                </select>
                <span asp-validation-for="FrequenciaExecucao" class="text-danger"></span>
            </div>    
            

            <div class="form-group">
                <div id="divDiario" style="display:none">
                    <label class="control-label">Horário</label>
                    <input id="txtHoraDiario" class="form-control" />
                </div>
                <div id="divSemanal" style="display:none">
                    <label class="control-label">Dia da semana</label>
                    <select  id="cmbDiaDaSemana">
                        <option>Domingo</option>
                        <option>Segunda</option>
                        <option>Terça</option>
                        <option>Quarta</option>
                        <option>Quinta</option>
                        <option>Sexta</option>
                        <option>Sábado</option>
                    </select> <br />
                    
                    <label class="control-label">Horário</label>
                    <input id="txtHoraDiario" class="form-control" />
                </div>
                <div id="divQuinzenal" style="display:none">
                    <label class="control-label">Dia 1</label>
                    <input id="txtDiaQuinzenal15" value="15" class="form-control" disabled />

                    <label class="control-label">Dia 2</label>
                    <input id="txtDiaQuinzenal30" value="30" class="form-control" disabled />

                    <label class="control-label">Horário</label>
                    <input id="txtHoraDiario" class="form-control" />
                </div>
                <div id="divMensal" style="display:none">
                    <label class="control-label">Dia</label>
                    <input id="txtDiaMes" class="form-control"/>

                    <label class="control-label">Horário</label>
                    <input id="txtHoraDiario" class="form-control" />
                </div>

            </div>


            @*<div class="form-group">
                <label asp-for="DiaExecucao1" class="control-label"></label>
                <input asp-for="DiaExecucao1" class="form-control" />
                <span asp-validation-for="DiaExecucao1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaExecucao2" class="control-label"></label>
                <input asp-for="DiaExecucao2" class="form-control" />
                <span asp-validation-for="DiaExecucao2" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#FrequenciaExecucaoId").change(function () {
            var frequencia = $("#FrequenciaExecucaoId option:selected").text();

            if (frequencia == "Diário") {
                EsconderTodasFrequencias();
                $("#divDiario")[0].style.display = 'block';
            }
            else if (frequencia == "Semanal") {
                EsconderTodasFrequencias();
                $("#divSemanal")[0].style.display = 'block';
            }
            else if (frequencia == "Quinzenal") {
                EsconderTodasFrequencias();
                $("#divQuinzenal")[0].style.display = 'block';
            }
            else if (frequencia == "Mensal") {
                EsconderTodasFrequencias();
                $("#divMensal")[0].style.display = 'block';
            }   
               
            });

        function EsconderTodasFrequencias() {
            $("#divDiario")[0].style.display = 'none';
            $("#divSemanal")[0].style.display = 'none';
            $("#divQuinzenal")[0].style.display = 'none';
            $("#divMensal")[0].style.display = 'none';
        }
           
    </script>


}
